@import "rem";
@import url("header.less");
.main{
  .pt(154);
  .main_dl{
    dl{
      width: 100%;
      display: flex;
      .pl(110);
      dt{
        width: 30%;
        img{
          width: 70%;
        }
      }
      .info{
        .lh(60);
        width: 70%;
       .pt(60);
        p{
          .font-dpr(15px);
        }
        p:first-child{
          color: #797979;
        }
        p:nth-child(2){
          color: #9c9c9c;
        }
      }
    }
  }
  }
