@import "rem";
@import url("header.less");
.main{
  background: #f8f8f8;
  .pt(154);
  .main_dl{
    dl{
      width: 90%;
      display: flex;
      margin: auto;
      background: white;
      .mt(40);
      dt{
        width: 30%;
        img{
          width: 70%;
        }
      }
      .info{
        width: 70%;
        .pt(30);
        p{
          .font-dpr(15px);
        }
        p:first-child{
          color: #797979;
        }
        p:nth-child(2){
          color: #9c9c9c;
        }
      }
    }
  }
  }
