@import url("rem.less");
html, body {
        position: relative;
        height: 100%;
    }
     .swiper-container {
        width: 100%;
        height: 100%;
        .swiper-slide{

            img{
                width:100%;
            }
        }
        .logo{
             position: relative;
             .register{
                .h(80);
                border:1px solid #693e1e;
                background:#0880d7;
                position:absolute;
                top:3%;
                right:5%;
            .font-dpr(15px);
                color:#fff;
                border-radius: 16%;
                .lh(77);
                .pl(30);
                .pr(30);
             }
        }
        .go{
            width:92%;
            display: block;
            margin: 0 auto;
            position:absolute;
            bottom:8%;
            left:4%;
            .font-dpr(15px);
            color:#fff;
            text-align: center;
            .lh(150);
            background:#2591fd;
            border:none;
             border-radius:0.27777778rem;
        }
    }
