@import url("rem.less");
@import url("header.less");
@import url("footer.less");
body {
    background: #77a90c;
}

.header,
.footer {
    border: none;
    padding: 0;
}

.header {
    background: transparent;
    color: #fff;
    .pt(48);
    .pb(48);
}

.main {
    background-image: url(../images/recipe-imgs/image/bg_green.png);
    background-position: top center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    .padding(160,
    95,
    144,
    95);
    section {
        color: #fff;
        margin: 0 auto;
        .m-title {
            .font-dpr(12px);
            color: #466211;
            text-align: center;
            .mt(100);
            .mb(50);
        }
        p {
            .font-dpr(14px);
        }
        h2 {
            .font-dpr(28px);
        }
        h4,
        li,
        span {
            .font-dpr(12px);
        }
    }
    .recipe {
        .mt(130);
        text-align: center;
        .lh(70);
        h2,
        .day {
            font-family: "黑体";
            font-weight: bold;
        }
        .three {
            color: #d9e89e;
            i {
                color: #98d131;
                .mr(20);
                background: #fff;
                border-radius: 50%;
                overflow: hidden;
            }
        }
    }
    .content-mean {
        .dis;
        justify-content: center;
        margin: 0 auto;
        .w(850);
        .pt(32);
        .pb(32);
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        figure {
            text-align: center;
            .pl(70);
            .pr(70);
            h4 {
                .font-dpr(28px);
                font-family: "黑体";
                font-weight: bold;
            }
        }
        .me-left {
            border-right: 3px solid #fff;
        }
    }
    .content-plan {
        text-align: center;
        .lh(62);
        .mt(55);
    }
    .content-video {
        .vi-video {
            .h(585);
            margin: 0 auto;
            box-shadow: 10px 10px 10px #628a05, -10px 10px 10px #628a05;
            a {
                img {
                    width: 100%;
                }
            }
        }
    }
    .content-sift {
        border-radius: 20px;
        overflow: hidden;
        .imgs-detalis {
            img {
                width: 100%;
            }
        }
        .si-detalis {
            box-shadow: 10px 10px 10px #628a05, -10px 10px 10px #628a05;
        }
        .si-list {
            background: #fff;
            margin: auto;
            li {
                .padding(66,
                60,
                66,
                60);
                border-bottom: 1px solid #dcdcdc;
                .dis
            }
            li:first-child {
                color: #4a4a4a;
                font-weight: bold;
                font-family: "黑体";
            }
            li:not(:first-child) {
                color: #8b8b8b;
            }
            li:last-child {
                justify-content: center;
                background: #f4f4f4;
                font-weight: bold;
                color: #76a029;
            }
        }
    }
    .content-exper {
        .ex-exper {
            text-align: center;
            background: #fff;
            border-radius: 20px;
            border: 1px solid #f5f5f5;
            box-shadow: 10px 10px 10px #628a05, -10px 10px 10px #628a05;
            .mt(225);
            .imgs {
                .w(300);
                .h(300);
                margin: 0 auto;
                .mt(-170);
                img {
                    width: 100%;
                }
            }
            .ex-text {
                color: #4a4a4a;
                .font-dpr(12px);
                .padding(140,
                50,
                140,
                50);
                h2 {
                    font-weight: bold;
                }
                h4 {
                    .font-dpr(10px);
                    .mb(50);
                    .mt(20);
                }
                p {
                    .lh(65)
                }
            }
        }
    }
    .content-intro {
        .in-gist {
            .ingi-box {
                li {
                    h4 {
                        font-weight: bolder;
                        .mb(50);
                        .mt(50)
                    }
                    ul>li {
                        list-style: disc;
                        .lh(60);
                    }
                }
                .btn{
                    text-align: center;
                    .in-btn {
                        .w(600);
                        .h(100);
                        border: none;
                        outline: none;
                        background: #fff;
                        color: #7eb207;
                        .font-dpr(17px);
                        border-radius:100px;
                        .mt(50);
                    }
                }
            }
        }
    }
}

.footer {
    background: #fff;
    justify-content: flex-start;
    section {
        text-align: center;
        .pt(48);
        .pb(48);
        .font-dpr(16px);
    }
    .f-left {
        background: #5a8411;
        color: #fff;
        width: 35%;
    }
    .f-right {
        width: 65%;
    }
}