@import "rem";
@import "recipe";
body{background: #f44f3c;}
.main{
    background-image:url(../images/recipe-imgs/image/bg_red.png);
    section{.m-title{color: #aa1d0b;}}
    .recipe{
        .three{color: #fff;i{color: #fc7b53}}
    }
    .content-sift{
        .si-list{
            li:last-child {
                color: #f85542;
            }
        }
    }
    .content-exper{
        .ex-exper{
            box-shadow: 10px 10px 10px #ab3b2e, -10px 10px 10px #ab3b2e;
        }
    }
}
.footer{
    .f-left{
        background: #cb3321;
    }
}