@import url("rem.less");
@import url("header.less");
@import url("footer.less");
.header{
    background: transparent;
    border: none;
    color: #fff;
}
.main{
    margin-top: 0;
    .opts{
        background: #fff;
        .mb(30);
    }
    
}
