html,
body {
  height: 100%;
  position: relative;
  background: #f4f4f4;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-top: 1px solid #dcdcdc;
  padding-top: 0.18518519rem;
  padding-bottom: 0.18518519rem;
}
.footer section {
  text-align: center;
  color: #4a4a4a;
}
.footer section figure:first-child {
  font-size: 0.55555556rem;
}
.footer section figure:last-child {
  font-size: 0.27777778rem;
}
.footer .active {
  font-weight: bold;
  color: pink;
}
