html,
body {
  height: 100%;
  position: relative;
  background: #f4f4f4;
}
.dis {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main {
  margin-top: 1.33333333rem;
  margin-top: 1.15942029rem;
  margin-right: 0rem;
  margin-bottom: 1.48148148rem;
  margin-bottom: 1.28824477rem;
  margin-left: 0rem;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  border-top: 1px solid #dcdcdc;
  padding-top: 0.18518519rem;
  padding-top: 0.1610306rem;
  padding-bottom: 0.18518519rem;
  padding-bottom: 0.1610306rem;
}
.footer section {
  text-align: center;
  color: #4a4a4a;
}
.footer section figure:first-child {
  font-size: 20px;
}
[data-dpr="2"] .footer section figure:first-child {
  font-size: 40px;
}
[data-dpr="3"] .footer section figure:first-child {
  font-size: 60px;
}
.footer section figure:last-child {
  font-size: 10px;
}
[data-dpr="2"] .footer section figure:last-child {
  font-size: 20px;
}
[data-dpr="3"] .footer section figure:last-child {
  font-size: 30px;
}
.footer .active {
  font-weight: bold;
  color: pink;
}
