html,
body {
  background: #3b4141;
}
p {
  color: #fff;
  font-size: 25px;
  text-align: center;
  margin-top: 1.85185185rem;
  margin-bottom: 1.2037037rem;
}
[data-dpr="2"] p {
  font-size: 50px;
}
[data-dpr="3"] p {
  font-size: 75px;
}
.touxiang {
  width: 3.16666667rem;
  height: 3.16666667rem;
  display: block;
  margin: 0 auto;
  border-radius: 1.82037037rem;
  overflow: hidden;
  margin-bottom: 0.60185185rem;
}
.touxiang img {
  width: 100%;
}
h6 {
  font-size: 14px;
  color: #aeb3af;
  text-align: center;
  margin-bottom: 1.44444444rem;
}
[data-dpr="2"] h6 {
  font-size: 28px;
}
[data-dpr="3"] h6 {
  font-size: 42px;
}
.name {
  line-height: 1.38888889rem;
  margin: 0 auto;
  color: #fff;
  font-size: 15px;
  width: 60%;
  background: #a8aaa7;
  border-radius: 0.88888rem;
  padding-left: 0.59259259rem;
}
[data-dpr="2"] .name {
  font-size: 30px;
}
[data-dpr="3"] .name {
  font-size: 45px;
}
.go_xia {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #00a9eb;
  color: #fff;
  width: 100%;
  border: none;
  line-height: 1.48148148rem;
  font-size: 15px;
  z-index: 99;
}
[data-dpr="2"] .go_xia {
  font-size: 30px;
}
[data-dpr="3"] .go_xia {
  font-size: 45px;
}
