html,
body {
  height: 100%;
  position: relative;
  background: #f4f4f4;
}
.dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main {
  margin-top: 1.33333333rem;
  margin-right: 0rem;
  margin-bottom: 1.48148148rem;
  margin-left: 0rem;
}
.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.32407407rem;
  padding-right: 0rem;
  padding-bottom: 0.32407407rem;
  padding-left: 0rem;
  font-size: 22px;
  text-align: center;
  color: #484848;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
[data-dpr="2"] .header {
  font-size: 44px;
}
[data-dpr="3"] .header {
  font-size: 66px;
}
.header figure:not(:nth-child(2)) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 18px;
}
[data-dpr="2"] .header figure:not(:nth-child(2)) {
  font-size: 36px;
}
[data-dpr="3"] .header figure:not(:nth-child(2)) {
  font-size: 54px;
}
.header figure:nth-child(2) {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}
.header figure:last-child i {
  margin-right: 0.13888889rem;
}
.header img {
  width: 2.38888889rem;
  height: 0.60185185rem;
}
.main > div:not(:last-child) {
  background: #fff;
  margin-bottom: 0.27777778rem;
}
.main > div:not(:last-child) .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dcdcdc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0.50925926rem;
  padding-right: 0.55555556rem;
  padding-bottom: 0.50925926rem;
  padding-left: 0.55555556rem;
  font-size: 15px;
  color: #4a4a4a;
}
[data-dpr="2"] .main > div:not(:last-child) .list {
  font-size: 30px;
}
[data-dpr="3"] .main > div:not(:last-child) .list {
  font-size: 45px;
}
.main > div:not(:last-child) .list i {
  color: #dadada;
}
.main > div:not(:last-child) .list span {
  font-size: 11px;
}
[data-dpr="2"] .main > div:not(:last-child) .list span {
  font-size: 22px;
}
[data-dpr="3"] .main > div:not(:last-child) .list span {
  font-size: 33px;
}
.main > div:last-child {
  text-align: center;
}
.main > div:last-child .log-off_btn {
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  background: #ff5f3e;
  font-size: 15px;
  width: 9.16666667rem;
  height: 1.25rem;
}
[data-dpr="2"] .main > div:last-child .log-off_btn {
  font-size: 30px;
}
[data-dpr="3"] .main > div:last-child .log-off_btn {
  font-size: 45px;
}
.main > div:not(:last-child) .list p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main > div:not(:last-child) .list p span {
  display: block;
  font-size: 15px;
  margin-right: 0.92592593rem;
}
[data-dpr="2"] .main > div:not(:last-child) .list p span {
  font-size: 30px;
}
[data-dpr="3"] .main > div:not(:last-child) .list p span {
  font-size: 45px;
}
.main > div:not(:last-child) .list p a {
  font-size: 13px;
  color: #4a4a4a;
  text-decoration: none;
}
[data-dpr="2"] .main > div:not(:last-child) .list p a {
  font-size: 26px;
}
[data-dpr="3"] .main > div:not(:last-child) .list p a {
  font-size: 39px;
}
.main > div:not(:last-child) .list p a img {
  width: 0.83333333rem;
  height: 0.83333333rem;
}
.main > div:not(:last-child) .list p span img {
  width: 0.66666667rem;
  height: 0.66666667rem;
}
.main > div:not(:last-child) .list .bound {
  width: 1.37037037rem;
  height: 0.73148148rem;
  border: 1px solid #a0a0a0;
  outline: none;
  background: no-repeat;
  color: #a0a0a0;
  font-size: 12px;
}
[data-dpr="2"] .main > div:not(:last-child) .list .bound {
  font-size: 24px;
}
[data-dpr="3"] .main > div:not(:last-child) .list .bound {
  font-size: 36px;
}
