html,
body {
  height: 100%;
  position: relative;
  background: #f4f4f4;
}
.dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main {
  margin: 0 ;
  margin-top: 1.33333333rem;
  margin-bottom: 1.48148148rem;
}
.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
<<<<<<< HEAD
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.40740741rem;
  padding-right: 0rem;
  padding-bottom: 0.40740741rem;
  padding-left: 0rem;
  font-size: 16px;
  text-align: center;
  color: #484848;
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.32407407rem;
  padding-bottom: 0.32407407rem;
  font-size: 22px;
  text-align: center;
  color: #484848;
  -webkit-transition: all .5s ease;
>>>>>>> 618c6e2de897ff168d1c9de48493fbb26c372a6d
  transition: all .5s ease;
}
[data-dpr="2"] .header {
  font-size: 44px;
}
[data-dpr="3"] .header {
  font-size: 66px;
}
<<<<<<< HEAD
.header figure {
  flex: 1;
=======
.header figure:not(:nth-child(2)) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 18px;
>>>>>>> 618c6e2de897ff168d1c9de48493fbb26c372a6d
}
[data-dpr="2"] .header figure:not(:nth-child(2)) {
  font-size: 36px;
}
[data-dpr="3"] .header figure:not(:nth-child(2)) {
  font-size: 54px;
}
.header figure:nth-child(2) {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}
.header figure:last-child i {
  margin-right: 0.13888889rem;
}
.header img {
  width: 2.38888889rem;
  height: 0.60185185rem;
}
html,
body {
  height: 100%;
  position: relative;
  background: #f4f4f4;
}
.dis {
<<<<<<< HEAD
  display: flex;
  justify-content: space-between;
  align-items: center;
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
>>>>>>> 618c6e2de897ff168d1c9de48493fbb26c372a6d
}
.main {
  margin-top: 1.33333333rem;
  margin-bottom: 1.48148148rem;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
<<<<<<< HEAD
  display: flex;
  justify-content: space-around;
  align-items: center;
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
>>>>>>> 618c6e2de897ff168d1c9de48493fbb26c372a6d
  background: #fff;
  border-top: 1px solid #dcdcdc;
  padding-top: 0.18518519rem;
  padding-bottom: 0.18518519rem;
}
.footer section {
  text-align: center;
  color: #4a4a4a;
}
.footer section figure:first-child {
  font-size: 20px;
}
[data-dpr="2"] .footer section figure:first-child {
  font-size: 40px;
}
[data-dpr="3"] .footer section figure:first-child {
  font-size: 60px;
}
.footer section figure:last-child {
  font-size: 10px;
}
[data-dpr="2"] .footer section figure:last-child {
  font-size: 20px;
}
[data-dpr="3"] .footer section figure:last-child {
  font-size: 30px;
}
.footer .active {
  font-weight: bold;
  color: pink;
}
html,
body {
  height: 220%;
  font-size: 12px;
}
body {
  background-image: url("../images/recipe-imgs/image/bg_green.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.header {
  background-color: rgba(171, 204, 11, 0.3);
  border: none;
}
.header .h-left,
.header .h-right {
  color: white;
}
.recipe {
  padding-top: 2.40740741rem;
  text-align: center;
}
.recipe h2 {
  color: white;
  font-size: 30px;
}
[data-dpr="2"] .recipe h2 {
  font-size: 60px;
}
[data-dpr="3"] .recipe h2 {
  font-size: 90px;
}
.recipe p {
  color: #edf6d9;
}
.recipe .star {
  font-size: 15px;
  padding-top: 0.55555556rem;
}
[data-dpr="2"] .recipe .star {
  font-size: 30px;
}
[data-dpr="3"] .recipe .star {
  font-size: 45px;
}
.recipe .day {
  font-size: 13px;
  padding-top: 0.27777778rem;
}
[data-dpr="2"] .recipe .day {
  font-size: 26px;
}
[data-dpr="3"] .recipe .day {
  font-size: 39px;
}
.recipe .three {
  font-size: 13px;
  margin-top: 0.46296296rem;
  color: #d5f085;
}
[data-dpr="2"] .recipe .three {
  font-size: 26px;
}
[data-dpr="3"] .recipe .three {
  font-size: 39px;
}
.recipe .three i {
  padding-right: 0.18518519rem;
}
.plan .planing {
  margin-top: 0.55555556rem;
<<<<<<< HEAD
  display: flex;
  justify-content: center;
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
>>>>>>> 618c6e2de897ff168d1c9de48493fbb26c372a6d
  padding-top: 0.27777778rem;
  padding-bottom: 0.27777778rem;
  margin-right: 1.01851852rem;
  margin-left: 1.01851852rem;
  border-top: 1px solid #f5ffba;
  border-bottom: 1px solid #f5ffba;
}
.plan .planing .plan_right {
  border-left: 1px solid #f7ffba;
}
.plan .planing p {
  padding-left: 0.55555556rem;
  padding-right: 0.55555556rem;
  text-align: center;
  font-size: 12px;
  color: #ffffef;
}
[data-dpr="2"] .plan .planing p {
  font-size: 24px;
}
[data-dpr="3"] .plan .planing p {
  font-size: 36px;
}
.plan .planing .big {
  font-size: 26px;
}
[data-dpr="2"] .plan .planing .big {
  font-size: 52px;
}
[data-dpr="3"] .plan .planing .big {
  font-size: 78px;
}
.plan .state {
  color: #f7ffba;
  width: 60%;
  font-size: 12px;
  margin: auto;
  margin-top: 0.37037037rem;
}
[data-dpr="2"] .plan .state {
  font-size: 24px;
}
[data-dpr="3"] .plan .state {
  font-size: 36px;
}
.main {
  margin-top: 0.92592593rem;
}
.main .main_demo1 .title {
  color: #52760a;
  text-align: center;
  font-size: 12px;
}
[data-dpr="2"] .main .main_demo1 .title {
  font-size: 24px;
}
[data-dpr="3"] .main .main_demo1 .title {
  font-size: 36px;
}
.main .main_demo1 .box {
  width: 85%;
  padding-top: 0.41666667rem;
  margin: auto;
}
.main .main_demo1 .box img {
  width: 100%;
}
.main .main_demo2 {
  width: 85%;
  margin: auto;
}
.main .main_demo2 dl {
  margin-top: 0.41666667rem;
}
.main .main_demo2 dl dd {
  text-align: center;
  color: #52760a;
}
.main .main_demo2 dl dt {
  padding-top: 0.41666667rem;
}
.main .main_demo2 dl dt img {
  width: 100%;
}
.main .main_ul {
  background: #fffffa;
}
.main .main_ul li {
  color: #999999;
  padding-top: 0.55555556rem;
  padding-bottom: 0.55555556rem;
  padding-left: 0.55555556rem;
}
.main .main_ul li span {
  float: right;
  margin-right: 0.55555556rem;
}
.main .main_ul li:first-child {
  color: #464646;
  font-size: 13px;
  font-weight: bold;
}
[data-dpr="2"] .main .main_ul li:first-child {
  font-size: 26px;
}
[data-dpr="3"] .main .main_ul li:first-child {
  font-size: 39px;
}
.main .main_ul li:first-child span {
  color: #8d8d8d;
}
.main .main_ul li:last-child {
  text-align: center;
  background: #f4f4f4;
  color: #76a12d;
  font-weight: bold;
}
.main_demo3 figure .title {
  color: #52760a;
  text-align: center;
  font-size: 12px;
  margin-top: 0.41666667rem;
}
[data-dpr="2"] .main_demo3 figure .title {
  font-size: 24px;
}
[data-dpr="3"] .main_demo3 figure .title {
  font-size: 36px;
}
.main_demo3 .box {
  margin-top: 1.2962963rem;
  padding-bottom: 0.92592593rem;
  background: white;
  border-radius: 4px;
}
.main_demo3 .box .imgs img {
  margin-top: -10%;
  margin-left: 40%;
  width: 25%;
}
.main_demo3 .box article {
  margin-left: 0.46296296rem;
  margin-right: 0.46296296rem;
  letter-spacing: 0.05rem;
}
.main_demo3 .box article h2 {
  color: #484848;
  text-align: center;
}
.main_demo3 .box article h4 {
  text-align: center;
}
.main_demo3 .box article p {
  font-size: 13px;
}
[data-dpr="2"] .main_demo3 .box article p {
  font-size: 26px;
}
[data-dpr="3"] .main_demo3 .box article p {
  font-size: 39px;
}
.main_demo4 {
  color: #f5ffd4;
}
.main_demo4 .title {
  color: #484848;
  text-align: center;
  margin-top: 0.41666667rem;
}
.main_demo4 .atr1 h2 {
  padding-top: 0.51851852rem;
  padding-bottom: 0.12962963rem;
}
.main_demo4 .atr1 li {
  margin-top: 0.51851852rem;
  background: url(../images/recipe-imgs/image/icon.png) no-repeat left center;
  padding-left: 0.32407407rem;
  letter-spacing: 0.04rem;
  font-size: 13px;
}
[data-dpr="2"] .main_demo4 .atr1 li {
  font-size: 26px;
}
[data-dpr="3"] .main_demo4 .atr1 li {
  font-size: 39px;
}
.main_demo4 .btn_shopping {
  margin: auto;
  text-align: center;
  margin-top: 1.11111111rem;
}
.main_demo4 .btn_shopping button {
  width: 100%;
  color: #75a712;
  font-size: 17px;
  padding-top: 0.25rem;
  padding-right: 1.80555556rem;
  padding-bottom: 0.23148148rem;
  padding-left: 1.80555556rem;
  border: none;
  border-radius: 40px;
  background: white;
  font-weight: bolder;
}
[data-dpr="2"] .main_demo4 .btn_shopping button {
  font-size: 34px;
}
[data-dpr="3"] .main_demo4 .btn_shopping button {
  font-size: 51px;
}
.footer {
  border: none;
  padding: 0;
}
.footer .active {
  width: 40%;
  margin: 0;
  background: #598410;
}
.footer .active .in-bottom {
  color: white;
  padding-top: 0.38888889rem;
  padding-bottom: 0.38888889rem;
  font-size: 17;
}
[data-dpr="2"] .footer .active .in-bottom {
  font-size: 34;
}
[data-dpr="3"] .footer .active .in-bottom {
  font-size: 51;
}
.footer .setting {
  width: 60%;
}
.footer .setting .set-bottom {
  color: #565656;
  font-size: 17;
}
[data-dpr="2"] .footer .setting .set-bottom {
  font-size: 34;
}
[data-dpr="3"] .footer .setting .set-bottom {
  font-size: 51;
}
