html,
body {
  height: 100%;
  position: relative;
  background: #f4f4f4;
}
.dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main {
  margin: 0 ;
  margin-top: 1.33333333rem;
  margin-bottom: 1.48148148rem;
}
.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.32407407rem;
  padding-bottom: 0.32407407rem;
  font-size: 22px;
  text-align: center;
  color: #484848;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
[data-dpr="2"] .header {
  font-size: 44px;
}
[data-dpr="3"] .header {
  font-size: 66px;
}
.header figure:not(:nth-child(2)) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 18px;
}
[data-dpr="2"] .header figure:not(:nth-child(2)) {
  font-size: 36px;
}
[data-dpr="3"] .header figure:not(:nth-child(2)) {
  font-size: 54px;
}
.header figure:nth-child(2) {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}
.header figure:last-child i {
  margin-right: 0.13888889rem;
}
.header img {
  width: 2.38888889rem;
  height: 0.60185185rem;
}
html,
body {
  height: 100%;
  position: relative;
  background: #f4f4f4;
}
.dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main {
  margin-top: 1.33333333rem;
  margin-bottom: 1.48148148rem;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-top: 1px solid #dcdcdc;
  padding-top: 0.18518519rem;
  padding-bottom: 0.18518519rem;
}
.footer section {
  text-align: center;
  color: #4a4a4a;
}
.footer section figure:first-child {
  font-size: 20px;
}
[data-dpr="2"] .footer section figure:first-child {
  font-size: 40px;
}
[data-dpr="3"] .footer section figure:first-child {
  font-size: 60px;
}
.footer section figure:last-child {
  font-size: 10px;
}
[data-dpr="2"] .footer section figure:last-child {
  font-size: 20px;
}
[data-dpr="3"] .footer section figure:last-child {
  font-size: 30px;
}
.footer .active {
  font-weight: bold;
  color: pink;
}
body {
  background: #77a90c;
}
.header,
.footer {
  border: none;
  padding: 0;
}
.header {
  background: transparent;
  color: #fff;
  padding-top: 0.44444444rem;
  padding-bottom: 0.44444444rem;
}
.main {
  background-image: url(../images/recipe-imgs/image/bg_green.png);
  background-position: top center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  padding-top: 1.48148148rem;
  padding-right: 0.87962963rem;
  padding-bottom: 1.33333333rem;
  padding-left: 0.87962963rem;
}
.main section {
  color: #fff;
  margin: 0 auto;
}
.main section .m-title {
  font-size: 12px;
  color: #466211;
  text-align: center;
  margin-top: 0.92592593rem;
  margin-bottom: 0.46296296rem;
}
[data-dpr="2"] .main section .m-title {
  font-size: 24px;
}
[data-dpr="3"] .main section .m-title {
  font-size: 36px;
}
.main section p {
  font-size: 14px;
}
[data-dpr="2"] .main section p {
  font-size: 28px;
}
[data-dpr="3"] .main section p {
  font-size: 42px;
}
.main section h2 {
  font-size: 28px;
}
[data-dpr="2"] .main section h2 {
  font-size: 56px;
}
[data-dpr="3"] .main section h2 {
  font-size: 84px;
}
.main section h4,
.main section li,
.main section span {
  font-size: 12px;
}
[data-dpr="2"] .main section h4,
[data-dpr="2"] .main section li,
[data-dpr="2"] .main section span {
  font-size: 24px;
}
[data-dpr="3"] .main section h4,
[data-dpr="3"] .main section li,
[data-dpr="3"] .main section span {
  font-size: 36px;
}
.main .recipe {
  margin-top: 1.2037037rem;
  text-align: center;
  line-height: 0.64814815rem;
}
.main .recipe h2,
.main .recipe .day {
  font-family: "黑体";
  font-weight: bold;
}
.main .recipe .three {
  color: #d9e89e;
}
.main .recipe .three i {
  color: #98d131;
  margin-right: 0.18518519rem;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}
.main .content-mean {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 7.87037037rem;
  padding-top: 0.2962963rem;
  padding-bottom: 0.2962963rem;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.main .content-mean figure {
  text-align: center;
  padding-left: 0.64814815rem;
  padding-right: 0.64814815rem;
}
.main .content-mean figure h4 {
  font-size: 28px;
  font-family: "黑体";
  font-weight: bold;
}
[data-dpr="2"] .main .content-mean figure h4 {
  font-size: 56px;
}
[data-dpr="3"] .main .content-mean figure h4 {
  font-size: 84px;
}
.main .content-mean .me-left {
  border-right: 3px solid #fff;
}
.main .content-plan {
  text-align: center;
  line-height: 0.57407407rem;
  margin-top: 0.50925926rem;
}
.main .content-video .vi-video {
  height: 5.41666667rem;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 10px #628a05, -10px 10px 10px #628a05;
          box-shadow: 10px 10px 10px #628a05, -10px 10px 10px #628a05;
}
.main .content-video .vi-video a img {
  width: 100%;
}
.main .content-sift {
  border-radius: 20px;
  overflow: hidden;
}
.main .content-sift .imgs-detalis img {
  width: 100%;
}
.main .content-sift .si-detalis {
  -webkit-box-shadow: 10px 10px 10px #628a05, -10px 10px 10px #628a05;
          box-shadow: 10px 10px 10px #628a05, -10px 10px 10px #628a05;
}
.main .content-sift .si-list {
  background: #fff;
  margin: auto;
}
.main .content-sift .si-list li {
  padding-top: 0.61111111rem;
  padding-right: 0.55555556rem;
  padding-bottom: 0.61111111rem;
  padding-left: 0.55555556rem;
  border-bottom: 1px solid #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .content-sift .si-list li:first-child {
  color: #4a4a4a;
  font-weight: bold;
  font-family: "黑体";
}
.main .content-sift .si-list li:not(:first-child) {
  color: #8b8b8b;
}
.main .content-sift .si-list li:last-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f4f4f4;
  font-weight: bold;
  color: #76a029;
}
.main .content-exper .ex-exper {
  text-align: center;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #f5f5f5;
  -webkit-box-shadow: 10px 10px 10px #628a05, -10px 10px 10px #628a05;
          box-shadow: 10px 10px 10px #628a05, -10px 10px 10px #628a05;
  margin-top: 2.08333333rem;
}
.main .content-exper .ex-exper .imgs {
  width: 2.77777778rem;
  height: 2.77777778rem;
  margin: 0 auto;
  margin-top: -1.57407407rem;
}
.main .content-exper .ex-exper .imgs img {
  width: 100%;
}
.main .content-exper .ex-exper .ex-text {
  color: #4a4a4a;
  font-size: 12px;
  padding-top: 1.2962963rem;
  padding-right: 0.46296296rem;
  padding-bottom: 1.2962963rem;
  padding-left: 0.46296296rem;
}
[data-dpr="2"] .main .content-exper .ex-exper .ex-text {
  font-size: 24px;
}
[data-dpr="3"] .main .content-exper .ex-exper .ex-text {
  font-size: 36px;
}
.main .content-exper .ex-exper .ex-text h2 {
  font-weight: bold;
}
.main .content-exper .ex-exper .ex-text h4 {
  font-size: 10px;
  margin-bottom: 0.46296296rem;
  margin-top: 0.18518519rem;
}
[data-dpr="2"] .main .content-exper .ex-exper .ex-text h4 {
  font-size: 20px;
}
[data-dpr="3"] .main .content-exper .ex-exper .ex-text h4 {
  font-size: 30px;
}
.main .content-exper .ex-exper .ex-text p {
  line-height: 0.60185185rem;
}
.main .content-intro .in-gist .ingi-box li h4 {
  font-weight: bolder;
  margin-bottom: 0.46296296rem;
  margin-top: 0.46296296rem;
}
.main .content-intro .in-gist .ingi-box li ul > li {
  list-style: disc;
  line-height: 0.55555556rem;
}
.main .content-intro .in-gist .ingi-box .btn {
  text-align: center;
}
.main .content-intro .in-gist .ingi-box .btn .in-btn {
  width: 5.55555556rem;
  height: 0.92592593rem;
  border: none;
  outline: none;
  background: #fff;
  color: #7eb207;
  font-size: 17px;
  border-radius: 100px;
  margin-top: 0.46296296rem;
}
[data-dpr="2"] .main .content-intro .in-gist .ingi-box .btn .in-btn {
  font-size: 34px;
}
[data-dpr="3"] .main .content-intro .in-gist .ingi-box .btn .in-btn {
  font-size: 51px;
}
.footer {
  background: #fff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer section {
  text-align: center;
  padding-top: 0.44444444rem;
  padding-bottom: 0.44444444rem;
  font-size: 16px;
}
[data-dpr="2"] .footer section {
  font-size: 32px;
}
[data-dpr="3"] .footer section {
  font-size: 48px;
}
.footer .f-left {
  background: #5a8411;
  color: #fff;
  width: 35%;
}
.footer .f-right {
  width: 65%;
}
body {
  background: #f44f3c;
}
.main {
  background-image: url(../images/recipe-imgs/image/bg_red.png);
}
.main section .m-title {
  color: #aa1d0b;
}
.main .recipe .three {
  color: #fff;
}
.main .recipe .three i {
  color: #fc7b53;
}
.main .content-sift .si-list li:last-child {
  color: #f85542;
}
.main .content-exper .ex-exper {
  -webkit-box-shadow: 10px 10px 10px #ab3b2e, -10px 10px 10px #ab3b2e;
          box-shadow: 10px 10px 10px #ab3b2e, -10px 10px 10px #ab3b2e;
}
.footer .f-left {
  background: #cb3321;
}
