html,
body {
  height: 100%;
  position: relative;
  background: #f4f4f4;
}
.dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main {
  margin: 0 ;
  margin-top: 1.33333333rem;
  margin-bottom: 1.48148148rem;
}
.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.32407407rem;
  padding-bottom: 0.32407407rem;
  font-size: 22px;
  text-align: center;
  color: #484848;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
[data-dpr="2"] .header {
  font-size: 44px;
}
[data-dpr="3"] .header {
  font-size: 66px;
}
.header figure:not(:nth-child(2)) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 18px;
}
[data-dpr="2"] .header figure:not(:nth-child(2)) {
  font-size: 36px;
}
[data-dpr="3"] .header figure:not(:nth-child(2)) {
  font-size: 54px;
}
.header figure:nth-child(2) {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}
.header figure:last-child i {
  margin-right: 0.13888889rem;
}
.header img {
  width: 2.38888889rem;
  height: 0.60185185rem;
}
html,
body {
  height: 100%;
  position: relative;
  background: #f4f4f4;
}
.dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main {
  margin-top: 1.33333333rem;
  margin-bottom: 1.48148148rem;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-top: 1px solid #dcdcdc;
  padding-top: 0.18518519rem;
  padding-bottom: 0.18518519rem;
}
.footer section {
  text-align: center;
  color: #4a4a4a;
}
.footer section figure:first-child {
  font-size: 20px;
}
[data-dpr="2"] .footer section figure:first-child {
  font-size: 40px;
}
[data-dpr="3"] .footer section figure:first-child {
  font-size: 60px;
}
.footer section figure:last-child {
  font-size: 10px;
}
[data-dpr="2"] .footer section figure:last-child {
  font-size: 20px;
}
[data-dpr="3"] .footer section figure:last-child {
  font-size: 30px;
}
.footer .active {
  font-weight: bold;
  color: pink;
}
.main {
  padding-top: 1.42592593rem;
  margin: 0;
}
.main .title {
  padding-top: 0.37037037rem;
  padding-bottom: 0.37037037rem;
}
.main .title h2 {
  background: url("../images/index-imgs/images/border.png") no-repeat left center;
  padding-left: 0.37037037rem;
  font-size: 15px;
  margin-left: 0.32407407rem;
}
[data-dpr="2"] .main .title h2 {
  font-size: 30px;
}
[data-dpr="3"] .main .title h2 {
  font-size: 45px;
}
.main .main_div {
  background-color: #f9f9f9;
  margin: auto;
}
.main .main_div .main_section {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .main_div .main_section figure {
  width: 25%;
}
.main .main_div .main_section figure img {
  width: 100%;
}
.main .main_div .main_section figure .icon {
  width: 100%;
  height: 45%;
  font-size: 50px;
  text-align: center;
  padding-top: 35%;
  display: block;
}
[data-dpr="2"] .main .main_div .main_section figure .icon {
  font-size: 100px;
}
[data-dpr="3"] .main .main_div .main_section figure .icon {
  font-size: 150px;
}
.main .main_div .main_section figure figcaption {
  text-align: center;
  font-size: 10px;
}
[data-dpr="2"] .main .main_div .main_section figure figcaption {
  font-size: 20px;
}
[data-dpr="3"] .main .main_div .main_section figure figcaption {
  font-size: 30px;
}
.main .main_div .add_btn {
  margin-top: 0.55555556rem;
  border: 3px solid #0073f7;
  border-radius: 50px;
  margin-left: 1.85185185rem;
  margin-right: 1.85185185rem;
}
.main .main_div .add_btn .btn {
  padding-top: 0.37037037rem;
  padding-bottom: 0.37037037rem;
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  color: #68a7dd;
}
[data-dpr="2"] .main .main_div .add_btn .btn {
  font-size: 22px;
}
[data-dpr="3"] .main .main_div .add_btn .btn {
  font-size: 33px;
}
.main_banner .my_width {
  width: 60%;
}
.main_banner .my_width .swiper-slide {
  margin-left: 0.27777778rem;
}
.main_banner .my_width .swiper-slide img {
  width: 100%;
}
.banner {
  margin-top: 0.46296296rem;
}
.banner .banner_div {
  margin-left: 0.32407407rem;
}
.banner .banner_div .banner_img {
  width: 9.25925926rem;
}
.banner .banner_div .banner_img img {
  width: 94%;
}
.banner .swiper-pagination .swiper-pagination-bullet {
  background: white;
}
.scheme {
  padding-bottom: 1.2962963rem;
}
.scheme .title {
  padding-top: 0.37037037rem;
  padding-bottom: 0.37037037rem;
}
.scheme .title h2 {
  background: url("../images/index-imgs/images/border.png") no-repeat left center;
  padding-left: 0.37037037rem;
  font-size: 15px;
  margin-left: 0.32407407rem;
}
[data-dpr="2"] .scheme .title h2 {
  font-size: 30px;
}
[data-dpr="3"] .scheme .title h2 {
  font-size: 45px;
}
.scheme .imgs li a {
  margin-left: 0.35185185rem;
  margin-right: 0.32407407rem;
  display: block;
}
.scheme .imgs li a img {
  width: 100%;
}
