.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.40740741rem;
  padding-right: 0rem;
  padding-bottom: 0.40740741rem;
  padding-left: 0rem;
  font-size: 16px;
  text-align: center;
  color: #484848;
  transition: all .5s ease;
}
[data-dpr="2"] .header {
  font-size: 32px;
}
[data-dpr="3"] .header {
  font-size: 48px;
}
.header figure {
  flex: 1;
}
.header figure:last-child {
  font-size: 15px;
}
[data-dpr="2"] .header figure:last-child {
  font-size: 30px;
}
[data-dpr="3"] .header figure:last-child {
  font-size: 45px;
}
.header figure:last-child i {
  margin-right: 0.09259259rem;
}
.header img {
  width: 2.38888889rem;
  height: 0.60185185rem;
}
html,
body {
  height: 100%;
  position: relative;
  background: #f4f4f4;
}
.dis {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main {
  margin-top: 1.33333333rem;
  margin-right: 0rem;
  margin-bottom: 1.48148148rem;
  margin-left: 0rem;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  border-top: 1px solid #dcdcdc;
  padding-top: 0.18518519rem;
  padding-bottom: 0.18518519rem;
}
.footer section {
  text-align: center;
  color: #4a4a4a;
}
.footer section figure:first-child {
  font-size: 20px;
}
[data-dpr="2"] .footer section figure:first-child {
  font-size: 40px;
}
[data-dpr="3"] .footer section figure:first-child {
  font-size: 60px;
}
.footer section figure:last-child {
  font-size: 10px;
}
[data-dpr="2"] .footer section figure:last-child {
  font-size: 20px;
}
[data-dpr="3"] .footer section figure:last-child {
  font-size: 30px;
}
.footer .active {
  font-weight: bold;
  color: pink;
}
.header {
  background: transparent;
  border: none;
  color: #fff;
}
.main {
  margin-top: 0;
}
.main .opts {
  background: #fff;
  margin-bottom: 0.27777778rem;
}
.main .m-content_one .mcono-top img {
  width: 100%;
}
.main .m-content_one .mcono-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main .m-content_one .mcono-center dl {
  text-align: center;
  margin-bottom: 0.55555556rem;
  font-size: 11px;
}
[data-dpr="2"] .main .m-content_one .mcono-center dl {
  font-size: 22px;
}
[data-dpr="3"] .main .m-content_one .mcono-center dl {
  font-size: 33px;
}
.main .m-content_one .mcono-center dl:first-child {
  width: 100%;
}
.main .m-content_one .mcono-center dl:first-child dt {
  margin-top: -1.0462963rem;
}
.main .m-content_one .mcono-center dl:first-child dt img {
  width: 1.94444444rem;
  height: 1.94444444rem;
  border: 9px solid #fff;
  border-radius: 50%;
}
.main .m-content_one .mcono-center dl:first-child dd p span {
  border-right: 3px solid #757575;
  padding-top: 0rem;
  padding-right: 0.27777778rem;
  padding-bottom: 0rem;
  padding-left: 0.27777778rem;
}
.main .m-content_one .mcono-center dl:first-child dd p span:last-child {
  border: none;
}
.main .m-content_one .mcono-center dl:not(:first-child) {
  flex: 1;
}
.main .m-content_one .mcono-center dl:not(:first-child) dt img {
  width: 1rem;
  height: 1rem;
}
.main .m-content_one .mcono-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.50925926rem;
  padding-right: 0.50925926rem;
  padding-bottom: 0.50925926rem;
  padding-left: 0.50925926rem;
  border-top: 1px solid #e3e3e3;
}
.main .m-content_one .mcono-bottom .mcb-left {
  line-height: 0.61111111rem;
}
.main .m-content_one .mcono-bottom .mcb-left p:first-child {
  font-size: 13px;
}
[data-dpr="2"] .main .m-content_one .mcono-bottom .mcb-left p:first-child {
  font-size: 26px;
}
[data-dpr="3"] .main .m-content_one .mcono-bottom .mcb-left p:first-child {
  font-size: 39px;
}
.main .m-content_one .mcono-bottom .mcb-left p:first-child span {
  margin-left: 0.25rem;
  color: #ff5f3e;
}
.main .m-content_one .mcono-bottom .mcb-left p:last-child {
  font-size: 10px;
  color: #a2a2a2;
}
[data-dpr="2"] .main .m-content_one .mcono-bottom .mcb-left p:last-child {
  font-size: 20px;
}
[data-dpr="3"] .main .m-content_one .mcono-bottom .mcb-left p:last-child {
  font-size: 30px;
}
.main .m-content_one .mcono-bottom .mcb-right .sign-btn {
  width: 1.38888889rem;
  height: 0.75rem;
  border: 1px solid #ff5f3e;
  font-size: 12px;
  background: none;
  color: #ff5f3e;
  outline: none;
}
[data-dpr="2"] .main .m-content_one .mcono-bottom .mcb-right .sign-btn {
  font-size: 24px;
}
[data-dpr="3"] .main .m-content_one .mcono-bottom .mcb-right .sign-btn {
  font-size: 36px;
}
.main .m-content_two .mcont-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.30555556rem;
  padding-right: 0.50925926rem;
  padding-bottom: 0.30555556rem;
  padding-left: 0.50925926rem;
  font-size: 12px;
  border-bottom: 1px solid #e3e3e3;
}
[data-dpr="2"] .main .m-content_two .mcont-top {
  font-size: 24px;
}
[data-dpr="3"] .main .m-content_two .mcont-top {
  font-size: 36px;
}
.main .m-content_two .mcont-top .mctt-right {
  color: #999999;
}
.main .m-content_two .mcont-top .mctt-right i {
  margin-left: 0.15740741rem;
  font-size: 18px;
}
[data-dpr="2"] .main .m-content_two .mcont-top .mctt-right i {
  font-size: 36px;
}
[data-dpr="3"] .main .m-content_two .mcont-top .mctt-right i {
  font-size: 54px;
}
.main .m-content_two .mcont-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.50925926rem;
  padding-right: 0rem;
  padding-bottom: 0.50925926rem;
  padding-left: 0rem;
}
.main .m-content_two .mcont-bottom dl {
  flex: 1;
  text-align: center;
  line-height: 0.74074074rem;
}
.main .m-content_two .mcont-bottom dl dt {
  font-size: 16px;
  color: #c1c1c1;
}
[data-dpr="2"] .main .m-content_two .mcont-bottom dl dt {
  font-size: 32px;
}
[data-dpr="3"] .main .m-content_two .mcont-bottom dl dt {
  font-size: 48px;
}
.main .m-content_two .mcont-bottom dl dd {
  font-size: 11px;
}
[data-dpr="2"] .main .m-content_two .mcont-bottom dl dd {
  font-size: 22px;
}
[data-dpr="3"] .main .m-content_two .mcont-bottom dl dd {
  font-size: 33px;
}
.main .m-content_three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.30555556rem;
  padding-right: 0.50925926rem;
  padding-bottom: 0.30555556rem;
  padding-left: 0.50925926rem;
}
.main .m-content_three dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
  margin-top: 0.41666667rem;
  margin-right: 0rem;
  margin-bottom: 0.41666667rem;
  margin-left: 0rem;
}
.main .m-content_three dl dt {
  color: #4aa5f0 ;
  font-size: 18px;
  margin-right: 0.41666667rem;
}
[data-dpr="2"] .main .m-content_three dl dt {
  font-size: 36px;
}
[data-dpr="3"] .main .m-content_three dl dt {
  font-size: 54px;
}
.main .m-content_three dl dd {
  line-height: 0.64814815rem;
}
.main .m-content_three dl dd h4 {
  font-size: 13px;
  color: #000;
}
[data-dpr="2"] .main .m-content_three dl dd h4 {
  font-size: 26px;
}
[data-dpr="3"] .main .m-content_three dl dd h4 {
  font-size: 39px;
}
.main .m-content_three dl dd p {
  font-size: 10px;
  color: #999999;
}
[data-dpr="2"] .main .m-content_three dl dd p {
  font-size: 20px;
}
[data-dpr="3"] .main .m-content_three dl dd p {
  font-size: 30px;
}
