html,
body {
  height: 100%;
  position: relative;
  background: #f4f4f4;
}
.dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main {
  margin-top: 1.33333333rem;
  margin-right: 0rem;
  margin-bottom: 1.48148148rem;
  margin-left: 0rem;
}
.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
<<<<<<< HEAD
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.32407407rem;
  padding-right: 0rem;
  padding-bottom: 0.32407407rem;
=======
  justify-content: space-between;
  align-items: center;
  padding-top: 0.40740741rem;
  padding-top: 0.35426731rem;
  padding-right: 0rem;
  padding-bottom: 0.40740741rem;
  padding-bottom: 0.35426731rem;
>>>>>>> d9134765fb8f659fbd988dc0610b7cc7f30f9319
  padding-left: 0rem;
  font-size: 22px;
  text-align: center;
  color: #484848;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
[data-dpr="2"] .header {
  font-size: 44px;
}
[data-dpr="3"] .header {
  font-size: 66px;
}
.header figure:not(:nth-child(2)) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 18px;
}
[data-dpr="2"] .header figure:not(:nth-child(2)) {
  font-size: 36px;
}
[data-dpr="3"] .header figure:not(:nth-child(2)) {
  font-size: 54px;
}
.header figure:nth-child(2) {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}
.header figure:last-child i {
<<<<<<< HEAD
  margin-right: 0.13888889rem;
=======
  margin-right: 0.09259259rem;
  margin-right: 0.0805153rem;
>>>>>>> d9134765fb8f659fbd988dc0610b7cc7f30f9319
}
.header img {
  width: 2.38888889rem;
  width: 2.07729469rem;
  height: 0.60185185rem;
  height: 0.52334944rem;
}
html,
body {
  height: 100%;
  position: relative;
  background: #f4f4f4;
}
.dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main {
  margin-top: 1.33333333rem;
  margin-top: 1.15942029rem;
  margin-right: 0rem;
  margin-bottom: 1.48148148rem;
  margin-bottom: 1.28824477rem;
  margin-left: 0rem;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-top: 1px solid #dcdcdc;
  padding-top: 0.18518519rem;
  padding-top: 0.1610306rem;
  padding-bottom: 0.18518519rem;
  padding-bottom: 0.1610306rem;
}
.footer section {
  text-align: center;
  color: #4a4a4a;
}
.footer section figure:first-child {
  font-size: 20px;
}
[data-dpr="2"] .footer section figure:first-child {
  font-size: 40px;
}
[data-dpr="3"] .footer section figure:first-child {
  font-size: 60px;
}
.footer section figure:last-child {
  font-size: 10px;
}
[data-dpr="2"] .footer section figure:last-child {
  font-size: 20px;
}
[data-dpr="3"] .footer section figure:last-child {
  font-size: 30px;
}
.footer .active {
  font-weight: bold;
  color: pink;
}
.main .content-list {
  background: #fff;
  margin-bottom: 0.32407407rem;
  margin-bottom: 0.28180354rem;
}
.main .content-list .con-top img {
  width: 100%;
}
.main .content-list .con-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .content-list .con-bottom dl {
  width: 44%;
  margin-top: 0.27777778rem;
  margin-top: 0.24154589rem;
  margin-right: 0.27777778rem;
  margin-right: 0.24154589rem;
  margin-bottom: 0.27777778rem;
  margin-bottom: 0.24154589rem;
  margin-left: 0.27777778rem;
  margin-left: 0.24154589rem;
}
.main .content-list .con-bottom dl dt img {
  width: 100%;
}
.main .content-list .con-bottom dl dd {
  line-height: 0.64814815rem;
  line-height: 0.56360709rem;
}
.main .content-list .con-bottom dl dd h4 {
  font-size: 13px;
}
[data-dpr="2"] .main .content-list .con-bottom dl dd h4 {
  font-size: 26px;
}
[data-dpr="3"] .main .content-list .con-bottom dl dd h4 {
  font-size: 39px;
}
.main .content-list .con-bottom dl dd p {
  font-size: 12px;
  color: #8a8a8a;
  width: 90%;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 2% 0;
}
[data-dpr="2"] .main .content-list .con-bottom dl dd p {
  font-size: 24px;
}
[data-dpr="3"] .main .content-list .con-bottom dl dd p {
  font-size: 36px;
}
.main .content-list .con-bottom dl dd p:last-child span {
  color: #ff7214;
}
.main .content-list .con-bottom dl dd p:last-child a {
  color: #a0a0a0;
  font-size: 10px;
  text-decoration: line-through;
}
[data-dpr="2"] .main .content-list .con-bottom dl dd p:last-child a {
  font-size: 20px;
}
[data-dpr="3"] .main .content-list .con-bottom dl dd p:last-child a {
  font-size: 30px;
}
